nav {
  background: url('/public/img/header.jpg') center;
  background-size: cover;
  .brand-logo {
    height: $navbar-height-mobile;
  }

  // Navbar Links
  ul {
    margin: 0;

    li {
      @include transition(background-color .3s);
      float: left;
      padding: 0 5px;

      &:hover, &.active {
        background-color: rgba(0,0,0,0);
      }
    }
    a {
      font-size: 1rem;
      color: $navbar-font-color;
      display: block;
      padding: 0 15px;
    }

    &.left {
      float: left;
    }
  }

}

@media #{$medium-and-up} {
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: $navbar-height;
    line-height: $navbar-height;
    .brand-logo {
      height: $navbar-height;
    }
  }
  .navbar-fixed {
    height: $navbar-height;
  }
}

// Buttons
.btn, .btn-flat {
  @extend .z-depth-0;
  padding: 0 1rem;
  text-transform: none;
}


ul.disc {
  padding-left: 25px;
  li {
    list-style-type: disc;
  }
}


.parallax-container {
  height: auto;
}

.czo-icon {
  max-width: 100%;
}

.display-inline {
  display: inline;
}

.text-underline {
  text-decoration: underline;
}

// Sticky footer
body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
}

main {
  flex: 1 0 auto;
}
