
.m-none {
  margin: 0;
}

.pos-absolute {
  position: absolute;
}
.pos-fixed {
  position: fixed;
}
.pos-relative {
  position: relative;
}
.pos-static {
  position: static;
}
.pos-inherit {
  position: inherit;
}